#encabezado {
  right: 1px;
  top: 1px ;
  margin-top: 1px;
  text-align: right;
  background-color: white;
  font-size: 108px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #333;
  position: relative;
  margin-bottom: 0px;
}
#segundo{
  right: 1px;
  top: 1px ;
  margin-top: 1px;
  text-align: right;
  background-color: white;
  font-size: 108px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #333;
  position: relative;
  margin-bottom: 0px;
  left: -67px;
}
#profesion {
  position: relative;
  text-align: right;
  font-family: 'Lato';
  font-size: 24px;
}

ul{
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  transform: translate(0,-15%) rotate(90deg);
  float: left;
  margin-left: -180px;
  font-size: 20px;
  line-height: 10px;
  font-weight: 400;
}

h3 {
  padding: 0.01rem;
  margin: 0.01rem;
}

li {
  cursor: pointer;

}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30vh;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 50%;
  height: auto;
}